Date: <%= @date %><br/>
Showing 18 holes with slots available earlier than 7:00 AM<br/>
<h2><a href="https://app.membersports.com/book-linked-clubs-tee-time/3660/4711/1/1">City of Denver</a></h2>
<ul>
<% @city_of_denver.each do |opening| %>
  <li>
    Course: <%= opening['name'] %><br/>
    Time: <%= minutes_since_midnight_to_time(opening['teeTime']) %><br/>
    Number of slots open: <%= 4 - opening['playerCount'] %><br/>
  </li>
<% end %>
</ul>
<h2><a href="https://www.golflongmont.com/utecreek-tee-times">Ute Creek</a></h2>
<ul>
<% @ute_creek.each do |opening| %>
  <li><%= opening %></li>
<% end %>
</ul>
<h2><a href="https://www.foothillsgolf.org/teetimes/meadows-golf-club/">Foothills</a></h2>
<ul>
<% @foothills.each do |opening| %>
  <li><%= opening %></li>
<% end %>
</ul>