<!DOCTYPE html>
<html>
  <head>
    <title>Teetimes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <a href="/">TeeTimes</a><br/>
<!-- We don't need this yet
  <% if user_signed_in? %> 
    <div> Welcome <%= current_user.email %> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <% else %>
    <%= button_to "Sign in", new_user_session_path %> 
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
-->
    <%= yield %>
  </body>
</html>
